@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #1c1c1c;
}
.markdown-content {
    font-size: 16px;
    line-height: 1.5;
    color: #FFFF;
    
}

@keyframes gradient-x {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  
  .animate-gradient-x {
    background-size: 200% 200%;
    animation: gradient-x 5s ease infinite;
  }